DATABASE_URL=sqlite:///./intervention.db
GROQ_API_KEY=you-api-key
GROQ_MODEL=openai/gpt-oss-20b

SMTP_EMAIL=your_gmail@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
